.navigation {
  nav {

    top: 16px;
    left: 16px;
    font-size: 1.3rem;
    margin: 0 auto;
    width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;

    ul {
      display: flex;

      a {
        text-decoration: none;
        color: $color-1;
        border-radius: 10px;
        width: 200px;
        text-align: center;
        padding: 10px;
        margin-right: 10px;

        &:visited {
          text-decoration: none;
          color: $black;
        }
        &:hover {
          box-shadow: 0 5px 5px rgba(51, 51, 51, 0.3);
        }
      }
      a.nav-active {
        background: $white;
        box-shadow: 0 5px 5px rgba(51, 51, 51, 0.1);

        &:hover {
          background: $white;
        }
      }
    }
  }
}
